<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJJHEKD2ZHWtcdXBm8Jitw1wAqXKsU4LU</string>
	<key>GCM_SENDER_ID</key>
	<string>624033056563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prototipoTcc</string>
	<key>PROJECT_ID</key>
	<string>tcc-prototipo-baba</string>
	<key>STORAGE_BUCKET</key>
	<string>tcc-prototipo-baba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624033056563:ios:bf06a1cc570c40762aa046</string>
</dict>
</plist>